<div class="contents row">
  <% @records.each do |record| %>
      <p><%= record.text %></p>
      <span class="name">
        <%= record.area.name %>
      </span>
      <%= image_tag record.image.variant(resize: '500x500'), class: 'recordImage' if record.image.attached? %>
  <% end %>
</div>