/* ヘッダー部分 */
.header {
  background-image: url("/images/devisetop.jpg");
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

.headLeft {
  width: 50%;
  padding-left: 20px;
}

.headTitle a {
  text-decoration: none;
  font-size: 40px;
  color: white;
  letter-spacing: 2px;
}

.headRight {
  height: 100%;
  width: 50%;
  padding-right: 20px;
}

.userInfos {
  font-size: 20px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.userInfoItem {
  display: block;
  text-decoration: none;
  padding: 10px;
  margin: 0 0 10px 10px;
  border: 1px solid #dee7ec;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}

.userInfoItem:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s;
}

/* 検索・投稿一覧部分 */
.search-form {
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: whitesmoke;
  padding-bottom: 15px;
}

.search-input {
  width: 28%;
  margin-right: 30px;
  padding: 5px;
  border: 1px solid #7c7c7c;
  background-color: white;
}

.search-btn {
  border-radius: 10px;
  padding: 5px 10px;
  border: white;
  color: white;
  background: #9FD1F0;
}

.search-btn:hover {
  background-color: #81b6e3;
}

.postContents {
  background-color: whitesmoke;
  padding-bottom: 20px;
}

.recordSection {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  border: 1px solid #dee7ec;
  border-radius: 5px;
  box-shadow: 5px 5px rgba(159, 209, 240, 0.5);
  padding: 20px 0;
  margin-bottom: 20px;
}

.recordInfo {
  width: 500px;
  margin: 0 auto;
}

.infoHead {
  display: flex;
  justify-content: space-between;
  color: #333;
}

.moreList {
  display: flex;
  justify-content: flex-end;
}

.moreList li {
  margin-left: 10px;
}

.moreList a {
  color: #333;
}

.moreList a:hover {
  color: #7c7c7c;
}

.recordUserName a{
  color: #333;
}

.recordUserName a:hover {
  color: #7c7c7c;
}

/* 投稿画面 */
.postSection {
  padding-top: 90px;
  height: 650px;
  background-color: whitesmoke;
}

.postBody {
  padding-top: 30px;
  width: 50%;
  margin: 0 auto;
  background-color: white;
  height: 100%;
  color: #7c7c7c;
}

.postBody h3 {
  height: 50px;
  margin: 0 auto;
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-left: 20px;
}

.error-message {
  margin-left: 20px;
}

.areaField {
  font-size: 20px;
  margin-top: 30px;
  padding-left: 20px;
}

.labelTitle {
  display: block;
  padding-bottom: 5px;
}

.areaSelect {
  border: 1px solid #dee7ec;
  padding: 5px;
  font-size: 16px;
}

.imageField {
  font-size: 20px;
  margin-top: 30px;
  padding-left: 20px;
}

.imageField p {
  padding-bottom: 5px;
}

#item-image {
  font-size: 16px;
}

.textField {
  font-size: 20px;
  margin-top: 30px;
  padding-left: 20px;
}

.textField span {
  display: block;
  padding-bottom: 5px;
}

.txetForm{
  font-size: 18px;
  border: 1px solid #dee7ec;
  padding: 5px;
  height: 40px;
  width: 300px;
}

.send-btn {
  border-radius: 10px;
  padding: 10px 15px;
  border: white;
  color: white;
  background: #9FD1F0;
  margin: 30px 0 0 20px;
}

.send-btn:hover {
  background-color: #81b6e3;
}

/* マイページ */
.userRecordSection {
  padding: 90px 0 20px 0 ;
  background-color: whitesmoke;
}

.userNickname {
  text-align: center;
  padding: 20px 0;
  color: #7c7c7c;
}

/* 詳細ページ */
.showArea {
  padding: 140px 0 20px 0;
  background-color: whitesmoke;
}

/* コメント欄 */
.commentArea {
  margin-top: 20px;
}

#comment_text {
  height: 50px;
  width: 30%;
}

.show-send-btn {
  border-radius: 10px;
  padding: 10px 15px;
  border: white;
  color: white;
  background: #9FD1F0;
  margin-left: 20px;
}

.comments h4,.comments p {
  color: #333;
}

.commentUsername {
  color: #333;
  text-decoration: none;
}

.commentUsername:hover {
  color: #7c7c7c;
}